@model IEnumerable<ASPNET_core_web_app_MVC.Models.Item>

@{@*Layout = null;  // Nav banner from /Shared/_Layout.cshtml (delete this to add)*@}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Items</title>
</head>
<body>

    <div style="display:inline-flex; margin-bottom:20px">
        <h4 style="margin-right:10px">Filter: </h4>
        <button type="submit" class="btn btn-info" style="margin-right:10px">
            by Name
        </button>
        <button type="submit" class="btn btn-info" style="margin-right:10px">
            by Date
        </button>
        <button type="submit" class="btn btn-info">
            by Type
        </button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name: </th>
                <th scope="col">Ajouté le: </th>
                <th scope="col">Type: </th>
                <th scope="col">Localisation: </th>
                <th scope="col">Description: </th>
                <th scope="col">Edition: </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Localisation
                </td>
                <td>
                    @item.Description
                </td>
                <td style="display:inline-flex">
                    @*@Html.ActionLink("Delete", "DeleteItems",
            new { id = @item.ItemId },
            new { @class = "btn btn-primary", @style = "color:white" })*@
                    @using (Html.BeginForm("EditItems", "Home", new { id = @item.ItemId }, FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-warning" style="margin-right:10px">
                            Edit
                        </button>
                    }
                    @using (Html.BeginForm("DeleteItems", "Home", new { id = @item.ItemId }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    }
                </td>
            </tr>
            }
        </tbody>

    </table>

</body>
</html>

