

<div style="display:inline-flex; margin-bottom:20px">
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">

        @*
            Use normal form instead of BeginForm, to pass value into route value by method Get
        *@
        <form asp-controller="Home" asp-action="SearchItems" method="get">
            <div class="input-group mr-5">
                @if (ViewBag.Search != null)
                {
                    <input type="text"
                           class="form-control"
                           aria-label="Search"
                           aria-describedby="btnGroupAddon"
                           name="search"
                           value="@ViewBag.Search"
                           style="width:350px">
                }
                else
                {
                    <input type="text"
                           class="form-control"
                           placeholder="Search..."
                           aria-label="Search"
                           aria-describedby="btnGroupAddon"
                           name="search"
                           style="width:350px">
                }

                <input type="hidden" name="type" value="@ViewBag.FilterType">
                <input type="hidden" name="localisation" value="@ViewBag.FilterLocalisation">
                <input type="hidden" name="sort" value="@ViewBag.Sort">
                <input type="hidden" name="direction" value="@ViewBag.SortDirection">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
            </div>
        </form>

        @*
        *****************************************************************************************************************************
        *******************                              Sort                                                     *******************
        *****************************************************************************************************************************
        *@
        <div class="btn-group me-2 ml-5" role="group" aria-label="First group">
            <div class="dropdown mx-1">
                @if (ViewBag.Sort != null)
                {
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </button>
                }

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form asp-controller="Home" asp-action="SearchItems" method="get">
                        <input type="hidden" name="search" value="@ViewBag.Search">
                        <input type="hidden" name="type" value="@ViewBag.FilterType">
                        <input type="hidden" name="localisation" value="@ViewBag.FilterLocalisation">
                        <input type="hidden" name="sort" value="Name">
                        <input type="hidden" name="direction" value="ASC">
                        @if (ViewBag.Sort == "Name" && ViewBag.SortDirection == "ASC")
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary bg-primary">Name (A to Z)</button>
                        }
                        else
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary">Name (A to Z)</button>
                        }
                    </form>
                    <form asp-controller="Home" asp-action="SearchItems" method="get">
                        <input type="hidden" name="search" value="@ViewBag.Search">
                        <input type="hidden" name="type" value="@ViewBag.FilterType">
                        <input type="hidden" name="localisation" value="@ViewBag.FilterLocalisation">
                        <input type="hidden" name="sort" value="Name">
                        <input type="hidden" name="direction" value="DSC">
                        @if (ViewBag.Sort == "Name" && ViewBag.SortDirection == "DSC")
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary bg-primary">Name (Z to A)</button>
                        }
                        else
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary">Name (Z to A)</button>
                        }
                    </form>
                    <form asp-controller="Home" asp-action="SearchItems" method="get">
                        <input type="hidden" name="search" value="@ViewBag.Search">
                        <input type="hidden" name="type" value="@ViewBag.FilterType">
                        <input type="hidden" name="localisation" value="@ViewBag.FilterLocalisation">
                        <input type="hidden" name="sort" value="Date">
                        <input type="hidden" name="direction" value="ASC">
                        @if (ViewBag.Sort == "Date" && ViewBag.SortDirection == "ASC")
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary bg-primary">Older</button>
                        }
                        else
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary">Older</button>
                        }
                    </form>
                    <form asp-controller="Home" asp-action="SearchItems" method="get">
                        <input type="hidden" name="search" value="@ViewBag.Search">
                        <input type="hidden" name="type" value="@ViewBag.FilterType">
                        <input type="hidden" name="localisation" value="@ViewBag.FilterLocalisation">
                        <input type="hidden" name="sort" value="Date">
                        <input type="hidden" name="direction" value="DSC">
                        @if (ViewBag.Sort == "Date" && ViewBag.SortDirection == "DSC")
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary bg-primary">Lastest</button>
                        }
                        else
                        {
                            <button type="submit" class="dropdown-item btn btn-outline-secondary">Lastest</button>
                        }
                    </form>
                </div>
            </div>

            @*
            *****************************************************************************************************************************
            *******************                              Filter : Type                                            *******************
            *****************************************************************************************************************************
            *@

            <div class="dropdown mx-1">
                @if (ViewBag.FilterType != null)
                {
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.FilterType
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Type
                    </button>
                }

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 200px; overflow-y: auto;">
                    @foreach (var type in ViewBag.Types)
                    {
                        <form asp-controller="Home" asp-action="SearchItems" method="get">
                            <input type="hidden" name="search" value="@ViewBag.Search">
                            <input type="hidden" name="type" value="@type">
                            <input type="hidden" name="localisation" value="@ViewBag.FilterLocalisation">
                            <input type="hidden" name="sort" value="@ViewBag.Sort">
                            <input type="hidden" name="direction" value="@ViewBag.SortDirection">
                            @if (ViewBag.FilterType == @type)
                            {
                                <button type="submit" class="dropdown-item btn btn-outline-secondary bg-primary">@type</button>
                            }
                            else
                            {
                                <button type="submit" class="dropdown-item btn btn-outline-secondary">@type</button>
                            }
                        </form>
                    }
                </div>
            </div>

            @*
            *****************************************************************************************************************************
            *******************                              Filter : Localistion                                     *******************
            *****************************************************************************************************************************
            *@

            <div class="dropdown mx-1">
                @if (ViewBag.FilterLocalisation != null)
                {
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.FilterLocalisation
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Localisation
                    </button>
                }
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 200px; overflow-y: auto;">
                    @foreach (var commune in ViewBag.Communes)
                    {
                        <form asp-controller="Home" asp-action="SearchItems" method="get">
                            <input type="hidden" name="search" value="@ViewBag.Search">
                            <input type="hidden" name="type" value="@ViewBag.FilterType">
                            <input type="hidden" name="localisation" value="@commune">
                            <input type="hidden" name="sort" value="@ViewBag.Sort">
                            <input type="hidden" name="direction" value="@ViewBag.SortDirection">
                            @if (ViewBag.FilterLocalisation == @commune)
                            {
                                <button type="submit" class="dropdown-item btn btn-outline-secondary bg-primary">@commune</button>
                            }
                            else
                            {
                                <button type="submit" class="dropdown-item btn btn-outline-secondary">@commune</button>
                            }
                        </form>
                    }
                </div>
            </div>


        </div>
    </div>
</div>